* {
    margin: 0;
    padding: 0;
}

/* navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

nav ul li {
    font-family: "Arimo", sans-serif;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 18px;
    align-items: center;
}

/* this is the common button style */

.common-btn {
    border: none;
    background-color: #1d4ed8;
    color: white;
    padding: 12px 30px;
    border-radius: 5px;
    font-family: "Inter", sans-serif;
}

/* hero section */
.hero-parent {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../assets/banner.jpg");
    color: white;
    background-size: cover;
    min-height: 720px;
    text-align: center;
    font-family: "Inter", sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}



.hero-text h1 {
    font-size: 65px;
    margin-bottom: 20px;
}

.hero-parent p {
    width: 600px;
    margin-bottom: 150px;

}

.hero-parent span {
    font-style: italic;
}

.hero-btn {
    margin-top: 250px;
}



.speaker-parent {
    padding: 60px 20px;
    font-family: "Inter", sans-serif;
}

.speaker-container {
    max-width: 900px;
    margin: 0 auto;
}

.speaker-container h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 42px;
}


.speaker-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}


.speaker-card {
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    overflow: hidden;

}

.speaker-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;

    display: block;
}

.speaker-text {
    padding: 16px;
}

.speaker-tag {
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 6px;
    color: #2563eb;
}



.speaker-text h3 {
    font-size: 1.1rem;
    margin-bottom: 4px;
}

.speaker-role {
    font-size: 0.9rem;
    color: #6b7280;
}