* {
    margin: 0;
    padding: 0;
}

/* navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

nav ul li {
    font-family: "Arimo", sans-serif;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 18px;
    align-items: center;
}

/* this is the common button style */

.common-btn {
    border: none;
    background-color: #1d4ed8;
    color: white;
    padding: 12px 30px;
    border-radius: 5px;
    font-family: "Inter", sans-serif;
}

/* hero section */
.hero-parent {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../assets/banner.jpg");
    color: white;
    background-size: cover;
    min-height: 720px;
    text-align: center;
    font-family: "Inter", sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}



.hero-text h1 {
    font-size: 65px;
    margin-bottom: 20px;
}

.hero-parent p {
    width: 600px;
    margin-bottom: 150px;

}

.hero-parent span {
    font-style: italic;
}

.hero-btn {
    margin-top: 250px;
}

/* speaker section */

.speaker-parent {
    padding: 60px 20px;
    font-family: "Inter", sans-serif;
}

.speaker-container {
    max-width: 1200px;
    margin: 0 auto;
}

.speaker-container h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 42px;
}


.speaker-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}


.speaker-card {
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    overflow: hidden;

}

.speaker-card img {
    width: 100%;
    height: 280px;
    object-fit: cover;

    display: block;
}

.speaker-text {
    padding: 16px;
}

.speaker-tag {
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 6px;
    color: #2563eb;

}



.speaker-text h3 {
    font-size: 1.1rem;
    margin-bottom: 4px;
}

.speaker-role {
    font-size: 0.9rem;
    color: #6b7280;
}

/* price section */

.price-parent {
    padding: 60px 20px;
    font-family: "Inter", sans-serif;
}

.price-container {
    max-width: 1200px;
    margin: auto;
}

.price-container>h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
}

.price-container>p {
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 50px;
}

.price-cards {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.price-card p {
    font-size: 0.6rem;
}

.text-list ul li {
    font-size: 0.6rem;
    margin-bottom: 7px;
}

.text-list ul {
    margin-top: 50px;
}

.price-card {
    border: 1px solid rgb(218, 218, 218);
    border-radius: 10px;
    padding: 50px 35px;
    width: 200px;
}

.standard-btn {
    border: 1px solid #2563eb;
    background-color: white;
    color: #2563eb;
    /* padding: 12px 30px; */
    border-radius: 5px;
    font-family: "Inter", sans-serif;
    /* text-align: center; */
    font-size: 0.6rem;
    font-weight: 700;
    width: 180px;
    height: 30px;
    margin-top: 15px;
    cursor: pointer;
}

.btn-alignment {
    text-align: center;

}

li::marker {
    color: #2563EB;
}


.team-btn {
    border: 1px solid #0D1B2A;
    background-color: white;
    color: #0D1B2A;
    /* padding: 12px 30px; */
    border-radius: 5px;
    font-family: "Inter", sans-serif;
    /* text-align: center; */
    font-size: 0.6rem;
    font-weight: 700;
    width: 180px;
    height: 30px;
    margin-top: 15px;
    cursor: pointer;
}

.pro-btn {
    border: 1px solid #2563eb;
    background-color: #2563EB;
    color: #FFFFFF;
    /* padding: 12px 30px; */
    border-radius: 5px;
    font-family: "Inter", sans-serif;
    /* text-align: center; */
    font-size: 0.6rem;
    font-weight: 700;
    width: 180px;
    height: 30px;
    margin-top: 15px;
    cursor: pointer;
}

.general {
    background-color: #f6f6f6f0;
}

.general>p {
    color: #888888;
}

.general ul li {
    color: #333333;
}

.stn-p1 {
    margin-bottom: 6px;
}

.stn-p2 {
    margin-top: 5px;
}

.different {
    background-color: #0D1B2A;
}

.different .blue {
    color: #93C5FD;
    margin-bottom: 6px;
}

.different .white {
    color: #FFFFFF;
    margin-top: 5px;
}

.different ul li {
    color: #FFFFFF;
}

.different h2 {
    color: #FFFFFF;
}

/* ai section */
.ai-parent {
    padding: 60px 90px;
    font-family: "Inter", sans-serif;

}

.ai-container h2 {
    text-align: center;
    font-size: 1.5rem;
}

.ai-container>p {
    text-align: center;
    margin-top: 15px;
    font-size: 0.9rem;
    color: #575757;
}

.ai-container {
    max-width: 1000px;
    margin: auto;
}

.ai-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 30px;
}